.warriorInfoSection {
    background:
        linear-gradient(rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)),
        url(../assets/perionBackground.jpg) no-repeat center;
    background-size: cover;
    padding: 100px 0 100px 0;
}

.warriorsInfoUl {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding-left: 0px;
}


.subClassInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.infoTitle {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 3rem;
}

.subClassInfo p {
    width: 80%;
}

.question {
    text-align: center;
    width: fit-content;
    margin: 20px auto;
    font-size: 2rem;
    font-weight: bold;
}

.subClassLi {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc((100% / 2) - 80px);
    border: 2px solid black;
    border-radius: 1%;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.subClassName {
    text-align: center;
}

.subClassDescription, 
.mainSkill p {
    max-width: 550px;
    font-weight: bold;
    font-size: 1rem;
}

.imageContainer {
    width: auto;
}

.imageContainer img {
    max-width: 100%;
}

.mainSkill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skillTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
h4 {
    padding-left: 20px;
    color: white;
}

.warriorLink {
    width: 50%;
    margin: 0 auto;
}

/********** MEDIA QUERIES **********/

@media (max-width: 1600px) {
    .warriorsInfoUl {
        flex-direction: column;
    }
    
    .subClassLi {
        width: 100%;
    }

    .subClassDescription,
    .mainSkill p {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .warriorLink {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .subClassInfo,
    .subClassDescription,
    .mainSkill p {
        text-align: center;
    }
}