#homeButton {
    max-width: 60px;
    max-height: 60px;
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 10px;
    border: none;
    background-color: transparent;
}

.homeImage {
    justify-content: center;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
}